@media only screen and (max-width: 480px) {
    .row2 {
        flex-direction: column;
    }
    .row1 {
        flex-direction: column;
        align-items: center;
        font-size:12px;
    }
    .row1 img{
        height:70px;
        width:60px;
    }
    .food{
        flex-direction:column;
    }
    
}

@media only screen and (min-width: 480px) {
    .row2 {
        flex-direction: row;
    }
    .row1 {
        flex-direction: row;
    }
    .food{
        flex-direction:column;
    }
    .row1 img{
        height: 100px;
        width:150px;

    }
}
    
* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}  
.row1{
    display:flex;
  /*   justify-content controls horizontal spacing */
    justify-content:space-around;
    background-color:#AED54D;
  }
.row2{
    background-color:lightyellow;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:10px auto;
    
    
  }
.food img{
  display: block;
  flex-basis: 33.%;
  border-radius:15px;
  object-fit: cover;
  height:150px;
  width:150px;

}
.food{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
  }
.food button{
    color:yellowgreen;
    background-color:black;
    padding:10px;
    margin:10px 0 0 0;
 }
.food button:hover{
    background-color: blue;
}
.row1 img{
    border-radius:12px;
    }
.food p{
    text-align: justify;
    margin:0 5px;
}
